Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bash-completion/ct-ng
build/
.config
config.h
config.h.in
config.log
config.status
config/configure.in
config/gen/
config/versions/
configure
ct-ng
kconfig/Makefile.in
maintainer/package-versions
paths.sh
staging/
stamp-h1
verbatim-data.mk

